@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/static/OpenSans-Regular.ttf') format('truetype');
}

a{
  text-decoration: none;
  color: black;
}

.desc p{
  color:#504c4c; 
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main{
  padding: 2em;
}

.background{
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  background-color: #1e1e1e;
  transform-origin: top left;
  transform: skewY(-8deg);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

header{
  max-width: 1000px;
  margin: auto;
  align-items: center;
  margin-bottom: 4em;
}

.about-me{
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 355px;
  padding: 1em 1.5em;
  align-items: start;
  overflow: visible; 
  position: relative;
  column-gap:3.5em;
  row-gap: 0;
}

.about-me-img {
  grid-row: 1 / 4; 
  grid-column: 1 / 2;
  position: relative;
  height: 100%;
  transform: scale(1.2);
  z-index: 1;
}

.about-me-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.about-me-img>h1{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 0;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-me h1:not(.about-me-img > h1) {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 1.8em;
}

.about-me.desc {
  grid-column: 2 / 3;
  color: #504c4c;
  margin: 0 0 0.4em 0;
  line-height: 1.4;
  font-size: 0.95em;
}

.social-icons{
  grid-column: 2 / 3;
  display: flex;
  justify-content: end;
  margin-top: auto;
  gap: 20px;
  font-size: 2em;
}



section{
  max-width: 1000px;
  margin: auto;
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5em;

}

.project{
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.project-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title h4{
  margin: 0;
}

.project-links{
  font-size: 1.4em;
  display: flex;
  gap: .7em;
}

.project-info{
  padding: 1em;
}

.project-info p{
  font-size: .85em;
  color: #504c4c;
}

.project-image{
  height: 10em;
  background-color: rebeccapurple;

}



footer{
  padding: 3em;
  background-color: #1e1e1e;
  color: white;
}

.footer-content{
  display: flex;
  margin: auto;
  max-width: 1000px;
  gap: 2em;

}

.contact-info{
  display: flex;
  align-items: center;
  gap: 1em;
}

.mail-link{
  color: white;
}

.social-icons.footer-icons{
  justify-content: start;
}

.social-icons.footer-icons a{
  color: white ;
}

.social-icons.footer-icons a:hover {
  color: #00bfff; 
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.contact-photo>img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .projects-container{
    grid-template-columns: 1fr 1fr;
  }
  header{
    display: block;
  }
  
  .about-me-img{
    float: left;
  }

  .about-me{
    width: 100%;
  }







  
}



